body {
  font-family: Arial;
  max-width: 900px;
  margin: auto;
  padding: 40px;
  line-height: 1.6;
}

.header {
  display: flex;
  gap: 30px;
  align-items: center;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

a {
  font-weight: bold;
  color: blue;
  text-decoration: none;
}
