*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}


/* ================= BODY ================= */

body{
  background:#0b1220;
  color:white;
}


/* ================= NAV ================= */

nav{
  display:flex;
  justify-content:space-between;
  padding:25px 10%;
  align-items:center;
}

.logo{
  font-size:22px;
  font-weight:700;
}

nav ul{
  display:flex;
  list-style:none;
  gap:30px;
}

nav a{
  text-decoration:none;
  color:white;
  opacity:.8;
}


/* ================= HERO ================= */

.hero{
  min-height:90vh;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 10%;

  background:linear-gradient(135deg,#0b1220,#132b4e,#0b1220);
}


/* left */

.hero-left{
  max-width:550px;
}

.welcome{
  color:#60a5fa;
  margin-bottom:10px;
}

h1{
  font-size:60px;
  line-height:1.2;
}

h1 span{
  color:#3b82f6;
}

.desc{
  margin:25px 0;
  opacity:.8;
}

.buttons{
  display:flex;
  gap:20px;
}

.btn{
  padding:12px 28px;
  border-radius:30px;
  text-decoration:none;
  font-weight:600;
}

.primary{
  background:#3b82f6;
  color:white;
}

.secondary{
  border:2px solid #3b82f6;
  color:#3b82f6;
}


/* right */

.photo-circle{
  width:350px;
  height:350px;

  border-radius:50%;

  padding:10px;

  background:linear-gradient(135deg,#3b82f6,#06b6d4);

  display:flex;
  align-items:center;
  justify-content:center;

  box-shadow:0 0 80px #3b82f660;
}

.photo-circle img{
  width:100%;
  border-radius:50%;
}


/* ================= SECTIONS ================= */

.section{
  padding:80px 10%;
}

.section h2{
  margin-bottom:30px;
}


/* light section */

.light{
  background:#f8fafc;
  color:#111;
}


/* skills */

.skills{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
}

.skills span{
  background:#3b82f6;
  color:white;
  padding:8px 18px;
  border-radius:20px;
  font-size:14px;
}


/* projects */

.dark{
  background:#0f172a;
}

.cards{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
}

.card{
  background:#1e293b;
  padding:25px;
  border-radius:12px;
  width:280px;
}


/* responsive */

@media(max-width:900px){

  .hero{
    flex-direction:column;
    text-align:center;
  }

  h1{
    font-size:40px;
  }

  .photo-circle{
    margin-top:40px;
  }

}
