*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter', sans-serif;
}

body{
  background:#f5f7fb;
  color:#111;
}


/* ================= HERO ================= */

.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 10%;
  background:linear-gradient(135deg,#ffffff,#eef2ff);
}


/* LEFT SIDE */

.hero-left{
  max-width:550px;
}

.big-name{
  font-size:80px;
  font-weight:800;
  line-height:1.1;
}

.tagline{
  margin-top:10px;
  font-weight:600;
  color:#555;
}

.about{
  margin:25px 0;
  color:#444;
}

.btn{
  background:#2563eb;
  color:white;
  padding:14px 28px;
  border-radius:10px;
  text-decoration:none;
  font-weight:600;
}


/* RIGHT SIDE */

.hero-right{
  position:relative;
}

.circle{
  width:360px;
  height:360px;
  background:#2563eb20;
  border-radius:50%;
  position:absolute;
  top:30px;
  left:20px;
}

.profile{
  width:360px;
  border-radius:20px;
  position:relative;
  z-index:2;
}


/* ================= SECTIONS ================= */

.section{
  padding:80px 10%;
}

.section h2{
  font-size:36px;
  margin-bottom:25px;
}


/* skills */

.skills{
  font-size:18px;
  color:#444;
  line-height:2;
}


/* projects */

.dark{
  background:#ffffff;
}

.project{
  margin-bottom:30px;
}


/* responsive */

@media(max-width:900px){
  .hero{
    flex-direction:column;
    text-align:center;
  }

  .big-name{
    font-size:50px;
  }

  .hero-right{
    margin-top:40px;
  }
}